.Header { padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(12, 71, 75);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: url("wp9301186.jpeg");
}

.Header p { font-size: 25px;
    color: rgb(57, 110, 114);
}



.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(106, 162, 167);
    
    
    
  }
  


  .navbar li {
    display: inline;
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .navbar li a:hover {
    background-color: rgb(12, 71, 75);
  }




.bodytext {text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


body {
    background-color: rgb(207, 253, 253);
  }


  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 20px;
  }